
/* CSS Document */

.payslipheading{
	background-color:#0062A1;
	color:white;
    font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:20px;

}

body{
line-height:20px;
font-size:10px;
}
table td{
padding:5px;
border-color:#0062A1;

}
td {
text-align:justify;
}

.top td { border-top: 1px solid #0062A1; }
.bottom td { border-bottom:  1px solid #0062A1; }
.row td:first-child { border-left:  1px solid #0062A1; }
.row td:last-child { border-right:  1px solid #0062A1; }
.bot tr td:first-child{  border-left:  1px solid #0062A1; }
.right tr td:last-child{  border-right:  1px solid #0062A1; }

/*hideclass {
display:none;
}
    
.row:before, .row:after {
content:none;
}*/