
body {
    background-color: #cccccc;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
   
    padding: 0;
}

.bodycolor {
 background-color:#004A4A;
}
.container {
 margin:auto;
 margin-top:10px;
 width:960px;
 height:100%;
 background-color:#fff;
 min-height:580px;
 padding:10px;


}
footer {
    padding:20px 10px;
     width:940px;
    height:20px;
     background-color:#fff;
      text-align:center;
    margin: auto;
    
    
}
.footer {
   text-align:center;
    padding-bottom:5px;
    padding-top:5px;
    border-top-color:#666666;
    border-top-style: solid;
    border-top-width:.5px; 
   
    
}

header {
height:80px;
margin-top:2em;
width:100%;
border-bottom-color:#666666;
border-bottom-style: solid;
 border-bottom-width:.5px; 
}

    header span {
    font-family:Verdana,'Times New Roman';
    color:#012F66;
    font-weight:bold;
    font-size:20px;
    padding-left:10px;
    }
    header img {
    padding-left:200px;
    vertical-align:bottom;
    }

fieldset {
margin:0px;
}

.forminpayslip {
margin:30px 20px;
}
.paycontent {
    width:500px;
    margin:10px 50px;
    text-align:center;
}
.control-label {
font-weight:bold;
}
/* impact*/
.menusection
{
}

.itemTitle
{
    font-weight:bold;
}

ul.menulist
{
    margin:0px 0px 0px 25px;
}

ul.menulist li
{
    padding:5px 20px 20px 10px;
    margin:0px;
    float:left;
    list-style-type:none;
    text-align:center;
}



.formcontent {
width:600px;
margin:30px auto;
padding:30px;
background-color: #F5F5F5;
border-radius:4px;

}

.star {
    padding:5px;
vertical-align:middle;
color:#AE4600;
}
.hide {
display:none;
}

#signupform {

display:none;

}
.size {
width:100%;
}

.content {
height:100%
}